/* Mobile First approach layout with media queries for
larger resolutions to compensate for content layout
*/

/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin: 0 0 1em 0;
}
h2,
h3,
a {
	color: #97682A;
}
h2,
h3 {
	margin: 0 0 .8em 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.back-up {
	text-align: center;
	display: block;
	padding: 1em;
}


/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.js-logo {
	width: 65px;
	margin: 0 auto;
}
.main-header h2 {
	font-size: 1em;
	margin: -1.25em 0 0; /* pushing web developer headline closer to logo icon */
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a,
.main-header h3 a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #c99065;
	text-transform: uppercase;
	font-weight: 700;
}
.main-nav a:hover {
	color: #e1c184;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
.col {
	padding: 1em;
	background: #edf4f7;
	border-radius: .35em;
	margin: 0 .5em .8em;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
		width: 200px;
		border-radius: 50%;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}
.button {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #c99065;
	border-radius: .35em;
}
/*-- Footer Container --*/
.social-icon {
	width: 50px;
	height: 50px;
	margin: 0 5px;
}
.main-footer span {
	display: block;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 0px) and (max-width: 768px) {
	#social-icon-container {
		display: none; /* hide in mobile screens */
	}
}


@media (min-width: 769px) {

	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
	/* social-icon in tbe footer disppear and fixed side social-icon appear on right */
	#social-icon-container {
		position: fixed;
		right: 0px;
		top: 50%;
		width: 50px;
		background-color: rgba(255, 255, 255, 0);
		padding: 1px 0px 1px 0px;
		z-index: 2000;
	}

	#social-icon-container a {
		display: inline-block;
		margin: 2px;
	}

	#social-icon-container img {
		vertical-align: middle;
	}
	.social-icon {
		display: none;
	}
}

@media (min-width: 1025px) {

	.row {
		width: 80%;
		max-width: 1150px;
	}
	.banner {
		margin-top: 10em; /* pushed margin so banner didnt hide beneath banner */
	}
}
