/* =================================
  Base Styles
==================================== */
/* applied autoprefixer for browser support of flexbox*/

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}
.main-footer {
  margin-top: auto; /* this creates a sticky footer */
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

  .main-header,
  .main-nav,
  .row,
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  /* You can assign an equal amount of space to columns
  with the flex-grow and flex properties.
  */
  .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 50%;
            flex: 1 50%; /* flex-grow, flex-basis are applied in order */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row > a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secondary {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  /* margin-top: auto; calculates the space between the top margin and existing element */
  .button {
    margin-top: auto;
    -ms-flex-item-align: center;
        align-self: center;
  }

}

@media (min-width: 1025px) {

/* Giving .main-header a justify-content: space-between;
declaration positions the site name on the left side of the header
and the navigation menu on the right:
*/
  .main-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  }
  .js-logo {
    margin: 0;
  }
  .main-header h2 {
    margin-right: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  /*.primary {
    flex: 2;
  }*/
  .col {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .primary {
    -webkit-box-flex: 1.4;
        -ms-flex-positive: 1.4;
            flex-grow: 1.4;
  }

}

/*
When you make body a flex container,
it lays out all its direct children horizontally on a single line.
Setting the flex-direction of body to column stacks its flex items vertically.
1vh is equal to 1/100th or 1% of the viewport height.
Sticky footer snippet

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  flex: 1;
}
Alternate sticky footer method

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-footer {
  margin-top: auto;
} */
